{
  "openapi": "3.1.0",
  "info": {
    "title": "Aniimo Wiki public lookup API",
    "version": "1.0.0",
    "description": "Read-only search and retrieval for published public Aniimo Wiki pages. No authentication or write operations are provided."
  },
  "servers": [{ "url": "https://aniimo-guides.com" }],
  "paths": {
    "/api/agent/search": {
      "get": {
        "operationId": "searchPublishedPages",
        "summary": "Search published public guides",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 200 } },
          { "name": "category", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 10, "default": 5 } }
        ],
        "responses": {
          "200": { "description": "Matching published pages with canonical source links." },
          "400": { "description": "Missing or invalid query." },
          "503": { "description": "Published index temporarily unavailable." }
        }
      }
    },
    "/api/agent/read": {
      "get": {
        "operationId": "readPublishedPage",
        "summary": "Read one published public guide",
        "parameters": [
          { "name": "path", "in": "query", "required": true, "schema": { "type": "string", "maxLength": 500 }, "description": "A published path, ID, or URL returned by search." }
        ],
        "responses": {
          "200": { "description": "Page metadata and bounded Markdown content." },
          "404": { "description": "No published page matches the supplied path or ID." },
          "503": { "description": "Page temporarily unavailable." }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcpStreamableHttp",
        "summary": "Read-only Aniimo Wiki MCP endpoint",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "description": "MCP JSON-RPC initialize, tools/list, or tools/call request." } } } },
        "responses": {
          "200": { "description": "MCP JSON-RPC result." },
          "202": { "description": "MCP notification accepted." },
          "405": { "description": "Only POST is supported." }
        }
      }
    }
  }
}
